body {
    background-color: #FDF4DC;
    font-family: "Century Gothic", serif;
    color: #481803;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 675px;
    width: 950px;
    justify-content: space-between;
}

.passchange-form {
    height: 550px;
    width: 950px;
    border-radius: 10px;
    border: 3px solid #481803;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-header {
    margin-top: 0;
    font-size: 64px;
}

.input-field {
    width: 510px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #481803;
    background-color: rgba(255, 224, 143, 0.5);
    font-size: 32px;
    padding: 10px;
    color: #481803;
    font-family: "Century Gothic", serif;
}

.button {
    height: 65px;
    background-color: #481803;
    color: white;
    border-radius: 10px;
    border-width: 0;
    font-size: 40px;
    font-weight: 400;
    font-family: "Century Gothic", serif;
    box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.25);
}

.button:hover {
    background-color: #FFE08F;
    color: #481803;
}

.input-label {
    font-weight: 400;
    font-size: 34px;
}

.label-and-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 815px;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.error-message {
    height: 20px;
}